@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  background: #f3f3f3;
}

* {
  box-sizing: border-box;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
}

/* Hide scrollbar but keep scroll */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

html,
body {
  overscroll-behavior-x: none;
}